.not-found {
  padding: 246px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__title {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found__description {
  margin: 0 0 184px;
  font-size: 16px;
  line-height: 19px;
}

.not-found__link {
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 1279px) {
  .not-found {
    padding-top: 408px;
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 767px) {
  .not-found {
    padding-top: 330px;
    padding-bottom: 30px;
  }

  .not-found__title {
    margin-bottom: 10px;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__description {
    margin-bottom: 284px;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}