.portfolio {
  padding: 0 70px 125px;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}

.portfolio__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio__link-box {
  padding: 0 0 19px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.portfolio__link-box:last-child {
  padding: 0;
  border: none;
}

.portfolio__link {
  width: 100%;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: top 60% right 5px;
  background-size: 20px 16px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1279px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__title {
    margin-bottom: 48px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding-bottom: 70px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .portfolio__link {
    background-position: top 40% right 5px;
    background-size: 11px 11px;
    font-size: 18px;
    line-height: 28px;
  }
}