.header {
  padding: 18px 70px;
}

.header_theme_dark-blue {
  background-color: #073042;
}

@media screen and (max-width: 1279px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}